/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

/* RESET */
*{
    margin: 0;
    overflow-x: hidden;
}

/* TIPOGRAFIAS */
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}
p {
    font-family: 'Nunito Sans', sans-serif;
}
label{
    font-family: 'Nunito Sans', sans-serif;
}

/*--------------------HEADER--------------------*/
/* Logo */
header nav a img {
    width: 20%;
    border: solid 0.2em black;
}
header {
    background-color: #015958;
    padding: 1em 1em;
}
header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1em;
}
header nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header nav ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
/*----------------------------------------------*/


/*--------------------FOOTER--------------------*/
footer {
    background-color: #015958;
    margin-top: 4em;
    padding: 2em 1em;
}
.conversorInline {
    display: inline;
}
.footerFlexPadre{
    width: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}
.footerFlexHijoCopyright{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.footerFlexHijoRrss{
    width: 25%;
    justify-content: space-around;
}

/*----------------------------------------------*/


/*--------------------INDEX---------------------*/
/* Fondo de la sección main */
.fondoPrincipal {
    width: 100%;
}
.posicionTitulo{
    position: absolute;
    top: 2.8em;
}
.tituloPrincipal {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
    color: white;
}
.disposicionIndex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.disposicionIndex1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
}
.disposicionIndex2 {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}
aside {
    text-align: left;
    width: 25%;
}
#iframeYoutube {
    width: 40%;
}
/*----------------------------------------------*/

/*-----------Resto de PAGs General--------------*/
.conversorTitulosInline {
    display: inline;
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
.parrafos{
    margin: 2em;
    padding: 2em;
    background-color: #C7FFED;
    border-radius: 0.8em;
}
.parrafos2{
    margin: 3em;
    padding: 3em;
    font-size: 1.5em;
}
.parrafosConBorde{
    text-align: center;
    border: solid 0.5em #008F8C;
}
.boton{
    margin: 0.3em;
    padding: 0.3em;
    background-color: #015958;
    border-radius: 0.2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.conversorBlock {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.menuCentrado{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 2.2em;
}
.titulosCentradosConImagen{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/*----------------------------------------------*/

/*-------------Servicios/Ventas-----------------*/
.disposicionServicios{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
}
/*----------------------------------------------*/

/*-------------------FAQS-----------------------*/
.disposicionFaqs{
    display: flex;
    flex-flow: column nowrap;
    gap: 3.6em;
}
/*----------------------------------------------*/

/*------------------Contacto--------------------*/
#grillaContacto{
    display: grid;
}
#tituloContacto{
    grid-area: titulo;
}
#formulario{
    grid-area: formulario;
}
#ubicacionMapa{
    grid-area: ubicacion;
}
#ubicacionFoto{
    grid-area: foto;
    width: 100%;
}
#finDePagina{
    grid-area: finDePagina;
}
/*----------------------------------------------*/

/*-----------Responsive-Contacto----------------*/
/*MOBILE FIRST*/
@media screen and (max-width: 420px){
    #grillaContacto{
        grid-template-areas: 
        "titulo"
        "formulario"
        "ubicacion"
        "foto"
        "finDePagina";
        grid-template-rows: 6em 34em 46em 30em 5em;
        grid-template-columns: 100%;
        grid-row-gap: 2em;
    }
    #tituloContacto{
        grid-area: titulo;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    #formulario{
        grid-area: formulario;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    #ubicacionMapa{
        grid-area: ubicacion;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    #ubicacionFoto{
        grid-area: foto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    #finDePagina{
        grid-area: finDePagina;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .parrafos3{
        text-align: center;
        margin: 1em;
        font-size: 0.8em;
    }
    /*HEADER y TITULO PARA MOBILE*/
    header nav a img {
        width: 40%;
        border: solid 0.2em black;
    }
    header nav{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
    header nav ul {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .iframeMobile{
        width: 80%;
    }
    .conversorTitulosInline {
        display: inline;
        font-size: 3em;
    }
}
/*TABLETS*/
@media screen and (min-width: 421px) and (max-width: 1199px){
    #grillaContacto{
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "ubicacion ubicacion formulario formulario"
        "ubicacion ubicacion foto foto"
        "finDePagina finDePagina finDePagina finDePagina";
        grid-template-rows: 10em 34em 42em 5em;
        grid-template-columns: 30% 30% 20% 20%;
        grid-row-gap: 4em;
    }
    #tituloContacto{
        grid-area: titulo;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    #formulario{
        grid-area: formulario;
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
    }
    #ubicacionMapa{
        grid-area: ubicacion;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 4em;
    }
    #ubicacionFoto{
        grid-area: foto;
        width: 100%;
    }
    #finDePagina{
        grid-area: finDePagina;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .parrafos3{
        text-align: center;
        margin: 8em;
        font-size: 1.4em;
    }
}
/*DESKTOP*/
@media screen and (min-width: 1200px){
    #grillaContacto{
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "ubicacion ubicacion formulario formulario"
        "ubicacion ubicacion foto foto"
        "finDePagina finDePagina finDePagina finDePagina";
        grid-template-rows: 10em 34em 42em 5em;
        grid-template-columns: 30% 30% 20% 20%;
        grid-row-gap: 4em;
    }
    #tituloContacto{
        grid-area: titulo;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    #formulario{
        grid-area: formulario;
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
    }
    #ubicacionMapa{
        grid-area: ubicacion;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 4em;
    }
    #ubicacionFoto{
        grid-area: foto;
        width: 100%;
    }
    #finDePagina{
        grid-area: finDePagina;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .parrafos3{
        text-align: center;
        margin: 8em;
        font-size: 1.4em;
    }
}