.conversorTitulosInline {
    display: inline;
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
.parrafos{
    width: 60%;
    @include boxModel(2em,2em);
    background-color: $colorBox;
    border-radius: 0.8em;
}
.parrafos2{
    @include boxModel(3em,3em);
    font-size: 1.5em;
}
.parrafosConBorde{
    text-align: center;
    border: solid 0.5em #008F8C;
}
.conversorBlock {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.menuCentrado{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 2.2em;
}
.titulosCentradosConImagen{
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}