.disposicionServicios{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}
.flexBoxes{
    display: grid;
    justify-items: center;
    align-items: stretch;
}
