@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    padding: 0.4em;
}
p {
    font-family: 'Nunito Sans', sans-serif;
}
label{
    font-family: 'Nunito Sans', sans-serif;
}